* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid #587989;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 5px solid #587989;
  border-radius: 7px;
  margin: 25px;
}